Connected Services/ServidorPassword/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoADatos" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AccesoADatos.Auxiliares" />
  <xs:element name="Chatear">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Responder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="respuesta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResponderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoADatos" minOccurs="0" name="acceso" nillable="true" type="q1:Acceso" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AccesoADatos" minOccurs="0" name="perfil" nillable="true" type="q2:Perfil" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AccesoADatos" minOccurs="0" name="jugador" nillable="true" type="q3:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarNuevoJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarNuevoJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarInicioDeSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AccesoADatos" minOccurs="0" name="acceso" nillable="true" type="q4:Acceso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarInicioDeSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarInicioDeSesionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNuevoRegistro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AccesoADatos" minOccurs="0" name="acceso" nillable="true" type="q5:Acceso" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AccesoADatos" minOccurs="0" name="perfil" nillable="true" type="q6:Perfil" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AccesoADatos" minOccurs="0" name="jugador" nillable="true" type="q7:Jugador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNuevoRegistroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarNuevoRegistroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarContrasenia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contrasenia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarContraseniaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncriptarContraseniaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNombreUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarNombreUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarNombreUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCuentaPorCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarCuentaPorCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AccesoADatos.Auxiliares" minOccurs="0" name="RecuperarCuentaPorCorreoResult" nillable="true" type="q8:Cuenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>